<beans:beans xmlns="http://www.springframework.org/schema/security"
	xmlns:beans="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
	http://www.springframework.org/schema/beans/spring-beans-4.0.xsd  
	http://www.springframework.org/schema/security 
    http://www.springframework.org/schema/security/spring-security-4.0.xsd">
	
	<http>
		<!-- 公开访问的action和page要放前面 -->
		<intercept-url pattern="/configAction/getConfig.action" access="permitAll" />
		<intercept-url pattern="/login.jsp" access="permitAll" />
		
		<!-- 默认未登录不可以访问action和jsp -->
		<intercept-url pattern="/**/*.action" access="authenticated" />
		<intercept-url pattern="/**/*.jsp" access="authenticated" />
		
		<form-login login-page="/login.jsp" authentication-failure-url="/login.jsp" default-target-url="/index.jsp" />
		<logout logout-success-url="/login.jsp" />
	</http>
	
	<authentication-manager alias="authenticationManager">
        <authentication-provider>
            <jdbc-user-service data-source-ref="dataSource"/>
            <password-encoder hash="md5">  
            	<salt-source user-property="username"/>
        	</password-encoder>
        </authentication-provider>
    </authentication-manager>

</beans:beans>  