<beans:beans xmlns="http://www.springframework.org/schema/security"
	xmlns:beans="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
	http://www.springframework.org/schema/beans/spring-beans-4.0.xsd  
	http://www.springframework.org/schema/security 
    http://www.springframework.org/schema/security/spring-security-4.0.xsd">
	
	<http pattern="/**/*.js" security="none"/>
	<http pattern="/**/*.css" security="none"/>
	<http pattern="/**/*.png" security="none"/>
	<http pattern="/**/*.jpg" security="none"/>
	<http pattern="/**/*.ico" security="none"/>

	<http>
		<intercept-url pattern="/configAction/getConfig.action" access="permitAll" />
		<intercept-url pattern="/login.jsp" access="permitAll" />
		
		<intercept-url pattern="/**" access="authenticated" />
		
		<form-login login-page="/login.jsp" authentication-failure-url="/login.jsp" default-target-url="/index.jsp" />
		<logout logout-success-url="/login.jsp" />
		
	</http>

	<beans:bean name="standardPasswordEncoder" class="org.springframework.security.crypto.password.StandardPasswordEncoder"/>
	
	<authentication-manager>
		<authentication-provider>
			<jdbc-user-service data-source-ref="dataSource"/>
			<password-encoder ref="standardPasswordEncoder"></password-encoder>
		</authentication-provider>
	</authentication-manager>
	
	

</beans:beans>  